name: Release
on:
  workflow_call:
    inputs:
      java-version:
        required: true
        type: string
      artifacts:
        required: false
        type: string
        default: build/libs/*.jar
    secrets:
      token:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: setup jdk
        uses: actions/setup-java@v5
        with:
          distribution: "microsoft"
          java-version: ${{inputs.java-version}}
          check-latest: true
      - name: build
        run: ./gradlew build
      - name: capture build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: artifacts
          path: ${{ inputs.artifacts }}
      - name: upload release assets
        uses: AButler/upload-release-assets@v3.0
        with:
          files: ${{ inputs.artifacts }}
          repo-token: ${{ secrets.token }}
