name: Release
on:
  workflow_call:
    inputs:
      java-version:
        required: true
        type: string
      artifacts:
        required: false
        type: string
        default: build/libs/*.jar
    secrets:
      token:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Wrapper Validation
        uses: gradle/actions/wrapper-validation@v4
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: ${{inputs.java-version}}
          check-latest: true
      - name: Build Artifacts
        run: ./gradlew build --no-daemon
      - name: Upload Atrifacts
        uses: actions/upload-artifact@v5
        with:
          name: artifacts
          path: ${{ inputs.artifacts }}
      - name: Upload to GitHub
        uses: AButler/upload-release-assets@v3.0
        with:
          files: ${{ inputs.artifacts }}
          repo-token: ${{ secrets.token }}
